{
    "parser": "babel-eslint",
    "rules": {
      "strict": 0,
      "react/prop-types": "off",
      "react/jsx-filename-extension": "off",
      "import/extensions": "always",
      "react/prefer-stateless-function": "off",
      "react/destructuring-assignment": "off",
      "react/no-danger": "off",
      "object-curly-newline": "off",
      "indent": "off"
    },
    "extends": [
      "airbnb"
    ],
    "globals": {
      "process": true
    }
}