{
    "parser": "babel-eslint",
    "rules": {
      "strict": 0,
      "react/prop-types": "off",
      "react/jsx-filename-extension": "off",
      "import/extensions": 1  ,
      "react/prefer-stateless-function": "off",
      "react/destructuring-assignment": "off",
      "react/no-danger": "off",
      "object-curly-newline": "off",
      "indent": "off",
      "prettier/prettier": "error",
      "react/jsx-one-expression-per-line": "off",
      "arrow-parens": "off"
    },
    "extends": [
      "airbnb"
    ],
    "plugins": ["prettier"],
    "globals": {
      "process": true
    }
}