.time {
  font-size: 0.87055rem;
  line-height: 1.5rem;
  display: block;
  margin-bottom: 1.5rem;
  margin-top: -1.5rem;
}
.hr {
  margin-bottom: 1.5rem;
}
.navButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: outside none none;
  padding: 0px;
}
