@import (reference) './less/variables.less';
.footer {
  color: @body;
  background-color: @fog;
  min-height: 20vh;
  padding: 1.5rem 1rem;
  a {
    text-decoration: none;
    color: @body;
    &:visited {
      color: @body;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
