@import (reference) './less/variables.less';

.mainWrap {
    background-color: white;
    color: black;
    min-height: 80vh;
    .main {
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    min-height: 100vh;
}