@import (reference) './less/variables.less';

.mainWrap {
    background-color: white;
    color: black;
    min-height: 80vh;
    .main {
        margin-left: auto;
        margin-right: auto;
    }
}

.container {
    min-height: 100vh;
    blockquote {
        border-left: 2px solid #d1dced;
        padding: .4em 1.2em;
        font-style: italic;
    }
}